<div class="wrapper">
    <!-- <header class="header"> 
      <div class="navbar">
        <div class="navbar-brand">WeCare</div>
        <div class="navbar-links">
          <a href="tel:08022333447" class="call-us">📞 Call Us : 080 22333447</a>
        </div>
      </div>
    </header> -->
    <main class="content">
      <h1>We are at the heart of appropriate care</h1>
      <div class="login-options">
        <div class="login-card">
          <img src="../../assets/Images/LifeCoachLogIn.jpg" alt="Coach Icon"><br>
          <button (click)="loginAsCoach()">Login as a Coach</button><br>
          <button (click)="joinAsCoach()">Join as a Coach</button>
        </div>
        <div class="login-card">
          <img src="../../assets/Images/UserLogIn.jpg" alt="User Icon"><br>
          <button (click)="loginAsUser()">Login as a User</button><br>
          <button (click)="joinAsUser()">Join as a User</button>
        </div>
      </div>
    </main>
  </div>
  